<h1>Infinite Jest</h1>
<aside> by David Tomster Wallace </aside>

<p>
  <a href="https://twitter.com/cowboyd">@cowboyd</a><br/>
  <a href="https://frontside.io">http://frontside.io</a><br/>
  Ember ATX, October 22nd 2015
</p>
