<h1>What's really happening?</h1>
<p><em>Yellow stripe marks the load horizon. Black pages are unrequested. White pages are in flight.</em></p>
{{#color-fetch delay=1000 color-count=300 as |fetchColorPage|}}
  <div class="demo_dataset-wrapper">
    {{#impagination-list fetch=fetchColorPage initial-read-offset=0 load-horizon=2 page-size=10 as |records state pages|}}
      <div class="demo_pages">
        {{#each pages as |page index|}}
          {{pages-display  page=page state=state records=records index=index}}
        {{/each}}
      </div>
      <div class="demo_records-wrapper">
        <div class="demo_records-list-container" style="height: 500px; width: 600px;">
          {{#ember-collection items=records estimated-height="500px"  estimated-width="600px" cell-layout=(fixed-grid-layout 600 70) as |record index|}}
            <div class="demo_record" style={{color-block record.content.hsl}}>P{{record.page.offset}} - R{{record.index}}</div>
          {{/ember-collection}}
        </div>
      </div>
    {{/impagination-list}}
  </div>
{{/color-fetch}}
